html,
body {
  height: 100svh;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: black;
}
canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.tp-dfwv {
  z-index: 2;
}

.container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  font-family: "inter", sans-serif;
  font-weight: 600;
}

.emotions {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  width: 100%;
  height: 100%;

  opacity: 0;

  z-index: 1;
}

.emotionsIntensity {
  box-sizing: border-box;
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  right: 4vw;
  top: 50%;

  width: 1vw;
  height: 70%;

  transform: translate3d(0, -50%, 0);

  background-color: rgb(255, 112, 112);
}

.dragContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  width: 100%;
  height: 100%;
  gap: 1rem;

  transform: translate3d(0, -0%, 0);

  /* background-color: red; */
}

.flame {
  position: absolute; /* Allows movement within the container */
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  border-radius: 50%;
  background-color: white;
  cursor: grab;
  transform-origin: 50% 50%; /* Center the transform origin */
  transform: translate3d(
    0,
    0,
    0
  ); /* Initialize the transform with a percentage */
}

.emotionsColor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 5vw;

  gap: 1rem;

  color: white;
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1rem;
}

.arrow {
  padding: 1rem;
  transform: scale3d(1.5, 1.5, 1.5);

  cursor: pointer;
}

.emotionsJapanese {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;

  padding: 0;
  margin: 0;

  border: 2px solid white;
  border-radius: 100px;

  overflow: hidden;

  gap: 1rem;

  cursor: default;
  list-style-type: none;
  word-break: keep-all;
}

.emotionsJapanese li {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  padding: 1rem 0rem;

  gap: 1rem;

  transition: all 0.5s ease-in-out;
}

.emotionsTranslated {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;

  padding: 0;
  margin: 0;

  overflow: hidden;

  gap: 1rem;

  cursor: default;
  list-style-type: none;
  word-break: keep-all;
}

.emotionsTranslated li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  padding: 1rem 0rem;

  gap: 1rem;

  text-transform: uppercase;

  transition: all 0.5s ease-in-out;
}

.emotionDescription {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
}
